rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
  return request.auth != null
    && (
      request.auth.token.email == "629ahmdbsman@gmail.com" ||
      request.auth.token.email == "Basmanaljumayli51@gmail.com"
    );
}

    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}